$color-black: #000000;
$color-white: #ffffff;
$color-sweet-corn: #fae187;
$color-woodsmoke: #15161B;
$color-dusty-gray: #999999;
$color-bright-turquoise: #00FFBE;
$color-red: #ff0000;
$color-electric-violet: #a801e8;
$color-shark: #24252A;
$color-blue-ribbon: #004DFF;

$base-font-size: 24px;
